// AppNavBar
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  box-shadow: 0 0 5px 0 rgba(black, 5);
  background: $white;
  a {
    flex: 0 0 1;
    img {
      height: 50px;
    }
  }
  ul {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    li {
      flex: 1 1 200px;
      padding: 1rem 2rem;
      a.link {
        padding: 1rem;
        color: $interact;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.5s;
        &:hover {
          text-decoration: underline;
          filter: brightness(70%);
        }
      }
      a.link.router-link-exact-active,
      a.link.router-link-active {
        color: $attention;
        text-decoration: underline;
      }
    }
  }
}

// HomeText
#home-text {
  > div {
    padding: 2.5rem 10%;
    h1 {
      padding: 2rem 0;
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    h2 {
      padding: 1rem 0;
      font-size: 2rem;
      text-transform: uppercase;
    }
    p {
      line-height: 1.2;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

//WeekView
#week-view {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  background: rgba($medium, 0.1);
  margin: 0.5rem 1rem;
  &:hover {
    filter: brightness(105%);
  }
  > div:first-of-type {
    flex: 0 0 5%;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
    font-weight: bold;
    &::before {
      content: 'week ';
    }
  }
  .week-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    background: rgba($medium, 0.1);
    margin: 0.5rem 1rem;
    &:hover {
      filter: brightness(105%);
    }
    .weekdays {
      display: flex;
      flex-direction: row;
      flex: 1 1 20%;
      padding: 10px 4px;
      .day {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: $dark;
        &:hover {
          cursor: default;
        }
      }
      .border-complete {
        background: rgba($success, 0.1);
        border-left: 5px solid $success;
        border-right: 5px solid transparent;
      }
      .border-incomplete {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  #week-view {
    display: block;
    > div:first-of-type {
      padding: 1rem 0 0.1rem;
    }
    .week-wrapper {
      display: block;
      .weekdays {
        padding: 0;
      }
    }
  }
  #day-view {
    margin: 0.2rem;
  }
}

//DayView
#day-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0.1rem;
  height: 100%;
  background: rgba($medium, 0.05);
  text-align: center;
  .day-day {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.4rem 0;
    text-transform: uppercase;
  }
  .day-type {
    text-transform: uppercase;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .day-body {
    height: 100%;
    padding-top: 1rem;
    .day-activity {
      line-height: 1.4rem;
    }
  }
}

//UserComment
#user-comment {
  .comment-box {
    padding: 0.5rem 0;
    background: inherit;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    cursor: text;
    color: $dark;
    font-size: 0.85rem;
    line-height: 1rem;
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }
  }
  .comment-box.day-incomplete {
    &:hover {
      cursor: text;
    }
  }
  .comment-box.click-to-edit:hover {
    background: rgba($white, 0.5);
    cursor: pointer;
  }
  .comment-box.day-edit {
    background: rgba($white, 0.5);
    cursor: text;
  }
  .icon-group {
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .icon {
      cursor: pointer;
      flex: 0 1 50%;
      color: $interact;
      transition: all 100ms ease;
      font-size: 1.2rem;
      stroke: black;
      stroke-width: 10;
      &:hover {
        filter: brightness(70%);
      }
    }
    .user-complete {
      flex: 0 0 50%;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.4);
  z-index: 9999;

  p {
    background: $white;
    width: 150px;
    text-align: center;
    margin: 40vh auto 0;
    padding: 40px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba($dark, 0.5);
  }
}

// UserComplete
#user-complete {
  .icon {
    font-size: 1.2rem;
    width: 100%;
    cursor: pointer;
    flex: 0 1 50%;
    transition: all 50ms ease;
    stroke: black;
    stroke-width: 10;
    &:hover {
      filter: brightness(70%);
    }
  }
  .check {
    color: green;
  }
  .running {
    color: $interact;
  }
  .check {
    color: $interact;
  }
}

//AppFooter
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $white;
  box-shadow: 0 0 5px 0 rgba(black, 5);
  border-top: 1px solid black;
  padding: 2rem 2rem;
  text-align: center;
  p {
    padding-bottom: 1rem;
  }
  a {
    color: $interact;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.5s;
    &:hover {
      text-decoration: underline;
      filter: brightness(70%);
    }
  }
}

//@at-root
#login section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
  color: #34495e;
  p {
    margin-top: 2rem;
    line-height: 1.8;
  }
  a {
    color: $interact;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
#login section .col1 {
  flex: 0 0 50%;
  padding: 25vh 5rem 1rem;
  background: #e6ecf0;
}
#login section .col2 {
  flex: 0 0 50%;
  padding: 25vh 5rem 1rem;
  background: $white;
  .signup-form {
    padding-top: 20vh;
  }
  h1 {
    margin-bottom: 2rem;
  }
  form {
    .extras {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      button {
        flex: 0 1 1;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
      }
    }

    /*     .extras {
      float: right;
      text-align: right;
      a {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
 */
  }
  .password-reset {
    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
